@import "tailwindcss";


@keyframes color-cycle {
  0%, 25% {
    /* Step 1: ONE (Yellow) */
    --color-one: #facc15; /* yellow-400 */
    --color-two: white; /* slate-400 (default) */
    --color-three: white;
    --color-four: white;
  }
  26%, 50% {
    /* Step 2: SPICE (Red) */
    --color-one: white;
    --color-two: #ef4444; /* red-500 */
    --color-three: white;
    --color-four: white;
  }
  51%, 75% {
    /* Step 3: AT A (Black) */
    --color-one: white;
    --color-two: white;
    --color-three: #000000; /* black */
    --color-four: white;
  }
  76%, 100% {
    /* Step 4: TIME (Yellow) */
    --color-one: white;
    --color-two: white;
    --color-three: white;
    --color-four: #facc15; /* yellow-400 */
  }
}

/* Define a utility class to use the animation */
.animate-color-cycle {
  animation: color-cycle 4s infinite; /* 4 seconds duration, infinite loop */
}


.fire-icon-animated {
  animation: pulse-fire 1s infinite alternate; /* Example: pulsing animation */
}


@keyframes reviewsslider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-reviewsslider {
  animation: reviewsslider 5s linear infinite;
}

/* @source "../../packages/ui*.{js,ts,jsx,tsx,mdx}"; */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
} */
